.rectangle{
	padding: 8px 24px;
	border: 1px solid gray;
	border-radius: 8px;
}

.rectangle:hover{
	color: blue;
}

.circle{
	padding: 12px;
	border: 1px solid gray;
	border-radius: 50%;
}

.circle:hover{
	color: blue;
}

.square{
	border: 1px solid gray;
	padding: 12px;
	border-radius: 8px;
}

.square:hover{
	color: blue;
}