.dropMenu{
	margin: 0px;
	padding: 0px;
	width: 80%;
}

.dropMenu select{
	background-color: #606060;
	color: white;
	width: 120%;
	border: 5px solid #606060;
	border-radius: 3px;
}

.dropMenu option:Hover{
	background-color: blue;
}