.head{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-around;
	color: black;
	border: 3px solid black;
	box-shadow: 3px 7px;
	width: 100%;
	max-height: 10%;
}

.item{
	margin: 0px auto;
	float: left;
}