.small{
	max-width: 50%;
	border: 2px solid black;
	font-style: italic;
	box-shadow: 1px 1px;
}

.medium{
	max-width: 75%;
	border: 2px solid black;
	font-style: italic;
	box-shadow: 1px 1px;
}

.large{
	max-width: 100%;
	border: 2px solid black;
	font-style: italic;
	box-shadow: 1px 1px;
}