.showcase {
    background-image:url('http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    background-color: gray;
    align-content: center;
    top: 0;
    width: 100%;
}

.checkBox {
	padding: 20px;
	display: inline-block;
}

.checkboxes {
	display: flex;
	color: white;
}

.sideCheckBoxes {
	display: flex;
	justify-content: center;
	color: white;
}

.topNav {
    position: fixed;
    top: 80px;
    left: 0;
}

.socialOptions {
    background-color: gray;
    border: 3px solid black;
    list-style-type: none;
    overflow: hidden;
    align-content: center;
}

.socialOptions li {
    float: left;
}

.postSpace {
	position: absolute;
	top: 13%;
	width: calc(100% - 50px);
	margin: 0 auto;
	height: 82%;
	max-height: 82%;
	color: white;
	border: 5px dashed white;
	text-align: center;
}

.dateFilter { 
	display: flex;
	direction: row;
	justify-content: center;
	align-items: baseline;
	
	margin-top: 1%;
}

.allPosts {
	position: absolute;
	overflow-y: auto;
	top: 12%;
	width: calc(100% - 40px);
	margin: 0 auto;
	height: 85%;
	max-height: 85%;
	background-color: #e5e5e5;
}

.allPosts button {
	color: blue;
	padding: 0px;
	margin-top: 0px;
	font-weight: bold;
}

.allPosts button:hover {
	color: white;
}

.postDiv {
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.postButtonFooter {
    position: fixed;
    right: 3%;
    bottom: 6%;
}

.postButtonFooter button {
    border: 2px solid black;
    background-color: black;
	opacity: 0.9;
	color: white;
}

.postButtonFooter button:hover {
    background-color: blue;
	color: white;
}

.sideNav {
	height: 100%;
    width: 25%;
    top: 0;
    left: 0;
    color: white;
    position: fixed;
    overflow-x: hidden;
    padding-top: 25px;
    border-style: inset;
    background-color: gray;
}

.sideNav h2 {
	color: white;
}

.searchInput input {
	background-color: #D3D3D3;
	width: 80%;
}

.sideElements{
	align-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.sideElements .checkboxes {
	padding-left: 10px;
	width: 80%;
}

.rightOfNav{
	margin-left: 25%;
	overflow-y: auto;
	height: 100%;
}

.rightOfNav h4 {
	color: white;
}

.rightOfNav button {
	color: blue;
	padding: 2px;
	margin-top: 0px;
	font-weight: bold;
}

.rightOfNav button:hover {
	color: white;
}

.postPop {
	margin: 20px;
	width: 90%;
	height: 90%;
}

.postPop textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	resize: none;
}

.previewImage {
	padding-top: 5px;
}

.postPop Button {
	background-color: black;
	border: 2px solid black;
}

.loginPop Button{
	background-color: black;
	border: 2px solid black;
}