.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
	position: absolute;
	left: 20%;
	right: 20%;
	top: 12%;
	bottom: 12%;
	margin: auto;
	
	background-image: url('http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg');
	background-size: cover;
	background-position: center;
	border: 5px dashed black;
}

.popup_inner h1{
	font-size: 30px;
}

.popup_title {
	position: absolute;
	top: 3%;
	left: 25%;
	right: 25%;
	margin-bottom: 2%;
	margin-top: 0;
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
	color: white;
}

.popup_elements {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	
	position: absolute;
	top: 10%;
	bottom: 10%;
	margin-top: 0;
	margin-bottom: 0;
	width: 99%;
	height: 75%;
	
	border: 3px solid black;
	border-radius: 5%;
	text-align: center;
	background-color: white;
}

.submitButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.popup_elements Button {
	opacity: 0.6;
}

.popup_close {
	position: absolute;
	bottom: 3%;
	left: 25%;
	right: 25%;
	margin-bottom: 0;
	margin-top: 2%;
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
}

.popup_close Button {
	margin: 0 auto;
	
	background-color: black;
	border: 2px solid black;
	opacity: 0.8;
}