table{
	margin: auto;
	table-layout: fixed;
	width: calc(100% - 40px);
	text-align:center;
	border-color: #00ACED;
	background-color: white;
	border-style: solid;
}

table td {
	border-color: white;
}

.postDiv{
	margin: 5px;
}

.metrics {
	text-align: left;
	background-color: #a1b6cf;
	font-size: 10pt;
	font-style: italic;
}

.metrics span{
	padding-right: 10px;
	padding-left: 10px;
}

.postContent {
	display: block;
	text-align: center;
}

.postContent div {
	padding: 15px;
}

.f{
	border-color: #0000FF;
}

.t{
	border-color: #00FFFF;
}