*{
	margin: 0;
	padding: 0;
}

.bodyDiv {
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	color: white;
	line-height: 1.6;
}

.showcase {
	background-image:url('http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding:0 20px;
}

.showcase h1, p{
	opacity: 0.7;
}

.showcase h1 {
	font-size: 50px;
	line-height: 1.2;
}

.showcase p{
	font-size: 20px;
}

.showcase button, a{
	background: none;
	color: white;
	margin-top: 20px;
	opacity: 0.5;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.showcase button:hover{
	background: black;
	opacity: 0.9;
}

.showcase a:hover{
	background: black;
	opacity: 0.9;
}

.about_popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.about_popup .about_inner {
	position: absolute;
	left: 20%;
	right: 20%;
	top: 20%;
	bottom: 20%;
	margin: auto;
	background-color: black;
	opacity: 0.9;
}

.about_popup .about_inner button {
	font-size: 20px;
	background: black;
	color: white;
}
.about_popup .about_inner h1 {
	padding: 10px;
	color: white;
	font-size: 30px;
}

.about_popup .about_inner p {
	padding: 20px;
	font-size: 18px;
}
